<!DOCTYPE html>
<html>
<!--
====================================================
    __  ____  ______________  _______ ___    __ 
   / / / /  |/  / ____/   \ \/ / ___//   |  / / 
  / /_/ / /|_/ / /_  / /| |\  /\__ \/ /| | / /  
 / __  / /  / / __/ / ___ |/ /___/ / ___ |/ /___
/_/ /_/_/  /_/_/   /_/  |_/_//____/_/  |_/_____/
                                                     
====================================================
Owner Name: Hossain Mohammad Faysal
Profile: https://www.facebook.com/hmfaysal
Version: 1.1
Description: Awesome dude, awesome life
====================================================
-->
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
<header class="notepad-site-head">
    <div class="notepad-site-head-menu" style="background-color: #000;">
        <!-- <a class="notepad-blog-logo" href="{{ site.url }}"><img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" /></a> -->
        
        
        <div class="notepad-blog-menu">      
          <div class="notepad-mobile-menu show-for-small">
              <a href="#"><i class="fa fa-bars"></i></a>
          </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="notepad-site-head-content" >
        <div class="notepad-site-head-bg"></div>
        <h1 class="notepad-blog-title">
            <!-- <span class="notepad-site-head-title-bg">
                {{ site.title }}
            </span> -->
        </h1>
        <a href="/en">English</a> | 
        <a href="/br">Português</a>
        <h2 class="notepad-blog-description">IURI MADEIRA</h2>
    </div>
</header>



{% include footer.html %}

{% include scripts.html %}  
</body>
</html>